################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Search_Statistics/bin/Debug/net6.0
/Search_Statistics/obj
/StarTrack_Work_Assessment/bin/Debug/net6.0
/StarTrack_Work_Assessment/obj
/.vs/StarTrack_Work_Assessment
/StackExchangeAPI/bin/Debug/net6.0
/StackExchangeAPI/obj
/Utilities/bin/Debug/net6.0
/Utilities/obj
/.vs
/SearchStatisticsDB/bin/Debug/net6.0
/SearchStatisticsDB/obj
/StackExchangeQueryTracker/bin/Debug/net6.0
/StackExchangeQueryTracker/obj
/StackExchangeQueryTracker/SearchStatistics.db
/SearchStatisticsDB/Migrations/20230810235814_CreateDB.cs
/SearchStatisticsDB/Migrations/20230810235814_CreateDB.Designer.cs
/SearchStatisticsDB/Migrations/SearchStatisticsContextModelSnapshot.cs
/SearchStatisticsDB/Migrations
/StackExchangeQueryTracker/SearchStatistics.db-shm
/StackExchangeQueryTracker/SearchStatistics.db-wal
